 <div dir=rtl class="clearfix">
	   <div ng-show="qurandata" ng-repeat="pageno in [0]" dir="rtl" class="quranpage well well-small">
		<div ng-repeat="(key, verse) in getQuranData(pageno)" dir=rtl class="quranayah">
		  <div ng-init="ref = verse.surah + ':' + verse.ayah" id="{{verse.surah + '_' + verse.ayah}}" class="{{($first && 'first')||'' + ($last && 'last')||''}}">
			<span ng-bind="'['+ ref +']'" class="label label-info"></span>
			<span ng-bind="verse.verse" class="qurantext">
			</span><BR/>
			<span ng-bind="getQuranTrans()[key].verse">
			</span>
			<span Xng-show="refTopics" ng-repeat="topic in getRefTopics(ref)">
				<A ng-click="setID(topic)">
					<span ng-show="topic" ng-bind="getSynonym( topic )" class="label label-success"></span>
				</A>
			</span>
			<HR>
			<div ng-show="$last"><A ng-click="setRef( verse.surah, verse.ayah )" class="btn btn-mini">Next page</A>
			</div>
		  </div>
		</div>
	   </div>
	  </div>